.toolbar mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
}
.left-content {
  .example-icon {
    margin: 35px;
  }
  .logo {
    width: 50px;
    height: auto;
    font-family: "Playwrite MX", cursive;
    margin: 35px;
    font-size: 23px;
  }
}
.toolbar-button {
  font-family: "Playwrite MX", cursive;
}
