<div class="toolbar">
  <mat-toolbar color="accent">
    <div class="left-content">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon color="primary">menu</mat-icon>
      </button>
      <button
        mat-button
        class="logo"
        aria-label="Example icon-button with heart icon"
        color="primary"
      >
        Bella Events
      </button>
      <!-- <div>
          <img class="logo" src="../../../assets/config/large logo.png" />
        </div> -->

      <span class="example-spacer"></span>
    </div>
    <div class="right-content">
      <button
        mat-button
        class="toolbar-button"
        aria-label="Example icon-button with heart icon"
        color="primary"
      >
        Home
      </button>

      <button
        mat-button
        class="toolbar-button"
        aria-label="Example icon-button with heart icon"
        color="primary"
      >
        Services
      </button>
      <button
        mat-button
        class="toolbar-button"
        aria-label="Example icon-button with heart icon"
        color="primary"
      >
        Gallery
      </button>
      <button
        mat-button
        class="toolbar-button"
        aria-label="Example icon-button with share icon"
        color="primary"
      >
        Contact
      </button>
      <button mat-raised-button class="toolbar-button" color="primary">
        Sign Up
      </button>
    </div>
  </mat-toolbar>
</div>
