<div class="container">
  <div class="toolbar">
    <app-toolbar></app-toolbar>
  </div>

  <div class="main-content">
    <div class="image-right">
      <div class="image1"></div>
    </div>
    <div class="left-texts">
      <div class="heading">Lorem ipsum dolor</div>
      <div class="context">
        consectetur adipiscing elit. Proin eu scelerisque nunc, sed tempus ante.
        Duis quis dolor tellus. Aliquam pulvinar
      </div>
    </div>
    <div class="image-left">
      <div class="image2"></div>
    </div>
  </div>
  <div class="footer1">
    <div class="text">
      Curabitur semper, dui nec eleifend porta, mi enim molestie dolor,
      vulputate lacinia dui urna id risus
    </div>
    <!-- <div class="email">
      <span>eventmanagement1232gmail.com</span>
      <a href="https://facebook.com" target="_blank" class="social-icon"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="https://twitter.com" target="_blank" class="social-icon"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="https://instagram.com" target="_blank" class="social-icon"
        ><i class="fab fa-instagram"></i
      ></a>
    </div> -->

    <div class="image">
      <div class="flower">
        <img
          class="flower"
          src="../../../assets/config/flowers.jpg"
          width="50%"
          height="30%"
        />
      </div>
      <span>eventmanagement1232gmail.com</span>
      <a href="https://facebook.com" target="_blank" class="social-icon"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="https://twitter.com" target="_blank" class="social-icon"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="https://instagram.com" target="_blank" class="social-icon"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
</div>
