@use "@angular/material" as mat;

@include mat.core();

$event-management-primary: mat.define-palette(mat.$brown-palette);
$event-management-accent: mat.define-palette(
  mat.$brown-palette,
  A200,
  A100,
  A400
);

$event-management-warn: mat.define-palette(mat.$red-palette);

$event-management-theme: mat.define-light-theme(
  (
    color: (
      primary: $event-management-primary,
      accent: $event-management-accent,
      warn: $event-management-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($event-management-theme);
